.outdoor {

    .image-container{
        
        min-height: 400px;
        width: 100%;
        background-image: url(../images/backyard-reno.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        
    }

    .outdoor-ren {
        padding: 3%;

        h1 {
            font-weight: normal;
            font-size: em(50);
        }

        p {
            font-size: em(20);
            color: $text-color-medium;
            width: 50%;
            padding-bottom: 3%;
        }
        
        @include mq($tabletLandscape){
            text-align: center;

            p{
                margin: 2% auto;
                width: 70%;
            }
        }

        @include mq($phoneLandscape) {
            h1{
                font-size: em(30);
            }
        }
        
    }

}

